/* page1 CSS formatting */

body {
    background-color: #7c142c;
}


h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'MedievalSharp';
}


.main {
    display: none;
}

.petbox {
    padding: 50px;
    margin: auto;
    height: 500px;
    width: 500px;
    color: gray;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    align-self: center;

}

.petbox img {
   width: 100%;
   height: 100%;
}

#namebox1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: 'MedievalSharp';
}

#inputbox {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    
}

#namebox2{
    width: 300px;
    height: 50px;

}

#navi {
    display: flex;
    align-content: center;
}

#startgame {
    background-color: #542b29;
    border: solid;
    border-width: 5px;
    color: #cc8c54;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 20px;
    margin: auto;
    text-decoration: none;
    font-family: 'MedievalSharp';
}


/* page 2 CSS formatting */

 h3{
    font-size: 65px;
    text-align: center;
    font-family: 'MedievalSharp';
}

#hungerBar {
    
    position: absolute;
    top: 275px;
    left: 100px;
    background-color: gray;
    height: 30px;
    width: 25%;
    font-family: 'MedievalSharp';
}

#hungerProgress {
    
    font-size: 30px;
    width: 0%;
    height: 30px;
    background-color: #e4934c;
}

#fatigueBar{
    
    position: absolute;
    top: 350px;
    left: 100px;
    background-color: gray;
    height: 30px;
    width: 25%;
    font-family: 'MedievalSharp';

}

#fatigueProgress {
    
    font-size: 30px;
    width: 0%;
    height: 30px;
    background-color: #e4934c;
}

#swordBar {
    
    position: absolute;
    top: 425px;
    left: 100px;
    background-color: gray;
    height: 30px;
    width: 25%;
    font-family: 'MedievalSharp';
}

#swordProgress {
    
    font-size: 30px;
    width: 100%;
    height: 30px;
    background-color: #e4934c;
    position: absolute;
    
}

#age {
    position: absolute;
    font-size: 30px;
    top: 275px;
    right: 450px;
    height: 30px;
    width: 5%;
    font-family: 'MedievalSharp';
}

#btn-group{
    
    display: flex;
    justify-content: center;
        
}


#feed {
    margin: 35px;
    font-size: 25px;
    font-family: 'MedievalSharp';
    padding: 10px;
}

#sleep {
    margin: 35px;
    font-size: 25px;
    font-family: 'MedievalSharp';
    padding: 10px;
}

#practice {
    margin: 35px;
    font-size: 25px;
    font-family: 'MedievalSharp';
    padding: 10px;
}

.end {
    
    display: flex;
    justify-content: center;
}


#gameover {
    font-size: 65px;
    display: none;
    justify-content: center;
    font-family: 'MedievalSharp';
}